build: false
image: Visual Studio 2015

platform:
  - x64

environment:
  matrix:
    - PYTHON_VERSION: 2.7

install:
  - set PATH=%PATH:C:\Program Files\Git\usr\bin;=%  # Delete sh.exe from PATH (mingw32-make fix)
  - ps: >-
      switch($env:PYTHON_VERSION) {
          "2.7" {$env:MINICONDA = """C:\Miniconda"""}
          "3.4" {$env:MINICONDA = """C:\Miniconda34"""}
          "3.5" {$env:MINICONDA = """C:\Miniconda35"""}
          "3.6" {$env:MINICONDA = """C:\Miniconda36"""}
          default {$env:MINICONDA = """C:\Miniconda36"""}
      }
  - ps: >-
      if($env:PLATFORM -eq "x64") {
          $env:MINICONDA += "-x64";
          $env:PATH += ";C:\mingw-w64\x86_64-6.3.0-posix-seh-rt_v5-rev1\mingw64\bin"
      }
      else {$env:PATH += ";C:\mingw-w64\i686-6.3.0-posix-dwarf-rt_v5-rev1\mingw32\bin"}
  - set PATH=%MINICONDA%;%MINICONDA%\Scripts;%PATH%
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  - conda create -q -n test-environment python=%PYTHON_VERSION% numpy scipy nose pandas scikit-learn pytest
  - activate test-environment
  - IF "%PYTHON_VERSION%" == "3.4" (
        conda uninstall numpy scipy scikit-learn &&
        pip install numpy scipy scikit-learn)  # Hotfix for versions incompatibility on Python 3.4
  - cd python-package
  - ps: $env:RGF_VER = (Get-Content rgf\VERSION).trim()
  - python setup.py sdist --formats gztar
  - pip install dist\rgf_python-%RGF_VER%.tar.gz -v

test_script:
  - pytest tests/ -v

after_test:
  - ps: >-
      if(
         $env:APPVEYOR_REPO_TAG -eq "false" -or
         $env:APPVEYOR_REPO_BRANCH -ne "master" -or
         $env:PYTHON_VERSION -ne "3.6") {
          Exit-AppVeyorBuild
      }
  - IF "%PLATFORM%" == "x64" (
    python setup.py bdist_wheel --plat-name=win-amd64 --universal)
    ELSE (
    python setup.py bdist_wheel --plat-name=win32 --universal)
  - IF NOT "%PLATFORM%" == "x64" rename compile\RGF\bin\rgf.exe rgf32.exe

artifacts:
  - path: python-package\dist\*
    name: pip
  - path: python-package\compile\RGF\bin\*
    name: rgf_exe

deploy:
  release: $(APPVEYOR_REPO_TAG_NAME)
  provider: GitHub
  auth_token:
    secure: aQFQmcjdGxGTDK58XGXC/TpIJKVfGCHh+ZIGMYsHEZIgo0hVgL0NoREaTluD+E7v
  artifact: pip,rgf_exe
  force_update: true
  draft: true
  on:
    appveyor_repo_tag: true
    branch: master
    PYTHON_VERSION: 3.6
