build: false
image: Visual Studio 2015

platform:
  - x64
  - x86

environment:
  matrix:
    - PYTHON_VERSION: 2.7
    - PYTHON_VERSION: 3.4
    - PYTHON_VERSION: 3.5
    - PYTHON_VERSION: 3.6

clone_depth: 50

install:
  - git submodule update --init --recursive  # retrieve fast_rgf
  - set PATH=%PATH:C:\Program Files\Git\usr\bin;=%  # Delete sh.exe from PATH (mingw32-make fix)
  - ps: >-
      switch($env:PYTHON_VERSION) {
          "2.7" {$env:MINICONDA = """C:\Miniconda"""}
          "3.4" {$env:MINICONDA = """C:\Miniconda34"""}
          "3.5" {$env:MINICONDA = """C:\Miniconda35"""}
          "3.6" {$env:MINICONDA = """C:\Miniconda36"""}
          default {$env:MINICONDA = """C:\Miniconda36"""}
      }
  - ps: >-
      if($env:PLATFORM -eq "x64") {
          $env:MINICONDA += "-x64";
          $env:PATH += ";C:\mingw-w64\x86_64-6.3.0-posix-seh-rt_v5-rev1\mingw64\bin"
      }
      else {$env:PATH += ";C:\mingw-w64\i686-6.3.0-posix-dwarf-rt_v5-rev1\mingw32\bin"}
  - set PATH=%MINICONDA%;%MINICONDA%\Scripts;%PATH%
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  - conda create -q -n test-environment python=%PYTHON_VERSION% numpy scipy nose pandas scikit-learn
  - activate test-environment
#  - conda install mkl=2017.0.3  # Temp fix. Delete the line in the future when compatibility will be fixed.
#  - pip install "pytest>=3.3"
  - ps: $env:RGF_VER = (Get-Content rgf\VERSION).trim()
#  - python setup.py sdist --formats gztar
#  - pip install dist\rgf_python-%RGF_VER%.tar.gz -v

test_script:
#  - pytest tests/ -o "python_files=*.py" -v

after_test:
  - ps: >-
      if(
         $env:APPVEYOR_REPO_TAG -eq "false" -or
         $env:PYTHON_VERSION -ne "2.7") {
          Exit-AppVeyorBuild
      }
  - IF "%PLATFORM%"=="x64" (
    python setup.py bdist_wheel --plat-name=win-amd64 --universal)
    ELSE (
    python setup.py bdist_wheel --plat-name=win32 --universal)

artifacts:
  - path: dist/*
    name: pip

deploy:
  release: $(APPVEYOR_REPO_TAG_NAME)
  provider: GitHub
  auth_token:
    secure: RuZmlRFD5gcBCSniGrRqKZNzaUkcTuRkdWYrOSXm5NyEL/WCZoa/mYKC+p49k2E2
  artifact: pip
  force_update: true
  draft: true
  on:
    appveyor_repo_tag: true
#    branch: master
    PYTHON_VERSION: 2.7

#          $env:APPVEYOR_REPO_BRANCH -ne "master" -or
