# miscellaneous stuff
.DS_Store
*/.DS_Store

# build artifacts
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# Python package stuff
temp/
*.pyc
rgf_python.egg-info/
dist/
build/*
python-package/include/rgf/bin/*
python-package/include/fast_rgf/bin/*
*.pkl
python-package/build/
python-package/compile/
python-package/temp_*
python-package/.cache/

# R package stuff
R-package/*.tar.gz
*.tar.gz
*.Rhistory
