sudo: false

# Travis CI does not currently support Python on Mac OS X
language: generic

os:
  - linux
#   - osx

env:
  - PYTHON_VERSION=2.7
#   - PYTHON_VERSION=3.4
#   - PYTHON_VERSION=3.5
  - PYTHON_VERSION=3.6

before_install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
      curl https://repo.continuum.io/miniconda/Miniconda${PYTHON_VERSION:0:1}-latest-MacOSX-x86_64.sh -o miniconda.sh;
    else
      wget https://repo.continuum.io/miniconda/Miniconda${PYTHON_VERSION:0:1}-latest-Linux-x86_64.sh -O miniconda.sh;
    fi

  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda

  - conda create -q -n test-environment python=$PYTHON_VERSION
  - source activate test-environment

  - RGF_VER=$(head -n 1 rgf/VERSION)

install:
  - conda install -q numpy scipy nose pandas scikit-learn
  - python setup.py sdist --formats gztar
  - pip install dist/rgf_python-$RGF_VER.tar.gz -v

script:
  - python tests/test.py
  - pip uninstall -y rgf_python
  - python setup.py install
  - python tests/test.py

deploy:
  file_glob: true
  file: dist/*
  skip_cleanup: true
  draft: true
  provider: releases
  api-key:
    secure: "WGMJ/0VoQ34g1m9k6RkxLOS796HRgK0M8JsVUSs2zW3miwmGGRvh5p8cn+IlOJD0uJyZQksueyN5aEVwUZ5tDuNHb21CDUDupxNjt74EqWAB1fc9Dp72sSWImIPY6PEA/f8OTwQKI00B9WfDJJMPOdlPN57gq7+DlJLsEtWxXssvs/l5JiBc4qO1CwA+y4460cpTrBgB3VnhAF6tju6H4dJtj8lWtXdnFc9gUF/3xTi1QliGrE4doQyLoNOAr4pzNgNjeUjkw9yVKUfa2XsQhyCcLZjBg4Z1t4P15nN/NRaQv/IaYu2WjbRIW1bVadfHUVmuf5F2oRLmR2KrWaJSYTd7wsr+6/Pd/ejZXoL5XJCjCFRxJKHbdL4zIUJa50Auqw6NAwoZSqrLatfsxEjXZaUhaGPg63f44GOA8RSB4X3txPwTXPwXCb8QSq51rfm2zPe6UEvfiVGlyylHtTwP+GKqy1Ml4q+0HPCjne1qufLtNhy+Ke6rD7KgODJi/XElmJwhF8pPCeDp+AmMYbd+Ppid0sISJFCv4IJmAl3FUJ5dtH/wGFUWMQDH8zsF1v94AFXmuO0zvaoOnKOC7P+j3/UXqOUopdC4z0YYqkjJU+OkWO/rnhHhFoWQjys3f1D1q/++yF7wwEu/DkUbxr/29YV2hfa5yH/gHusLmX01d1o="

  on:
    branch: master
    condition: "$PYTHON_VERSION = 3.6"

