include Readme.rst _IS_SOURCE_PACKAGE
recursive-include rgf VERSION

recursive-include compile/RGF CMakeLists.txt
recursive-include compile/RGF/build makefile
recursive-include compile/RGF/Windows/rgf *
recursive-include compile/RGF/src *

recursive-include compile/FastRGF CMakeLists.txt
recursive-include compile/FastRGF/src *
recursive-include compile/FastRGF/include *

global-exclude *.pyo
global-exclude *.pyc
