include Readme.rst _IS_SOURCE_PACKAGE
recursive-include rgf VERSION

recursive-include include/RGF CMakeLists.txt
recursive-include include/RGF/build makefile
recursive-include include/RGF/Windows/rgf *
recursive-include include/RGF/src *

recursive-include include/FastRGF CMakeLists.txt
recursive-include include/FastRGF/src *
recursive-include include/FastRGF/include *

global-exclude *.pyo
global-exclude *.pyc
