
export(RGF_cleanup_temp_files)
export(mat_2scipy_sparse)
export(TO_scipy_sparse)
export(RGF_Regressor)
export(RGF_Classifier)
export(FastRGF_Regressor)
export(FastRGF_Classifier)
import(reticulate)
importFrom(R6,R6Class)
importFrom(Matrix,Matrix)
